@import "tailwindcss";

@font-face {
  font-family: "rockstar";
  src: url("./rockstar.otf");
}

html,
body {
  font-family: "rockstar";
  width: 100%;
  height: 100%;
}

.left img {
  height: 100%;
}